form {
    width: 50%;
}

button {
    display: block;
}

label, input {
    display: inline-block;
    width: 100%;
}

footer {
    border-top: 4px solid #3a3a3a;
}

#account_link {
    float: right;
    padding-top: 1vw;
    padding-right: 7vw;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 1vw 1vw;
    overflow: hidden;
    background-color: #161616;
}

#delorean {
    max-width: 80%;
    height: auto;
    padding-left: 10%;
}

#delorean_container {
    position: relative;
}

#buy {
    display: inline;
    align-content: center;
    margin-left: 25%;
    width: 50%;
    border: 3px solid #3a3a3a;
    padding: 10px;
    background-color: #4c96d7;
    color: #161616;
}

#vehicleManagement {
    list-style-type: none;
}

#passwordSpan {
    font-size: 0.7em;
}

#welcome {
    position: absolute;
    top: 2.3em;
}

#logout_link {
    float: right;
    padding-top: 1vw;
    padding-right: 7vw;
}

.nav {
    display: inline;
    color: #4c96d7;
    padding: 0.5vw;
    text-decoration: none;
    flex-wrap: wrap;
}

.nav:hover {
     background-color: #4c96d7;
     color: #161616
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.delorean_caption {
    position: absolute;
    padding-top: 0%;
    width: 30%;
    font-family: monospace;
    color: #285a85;
}

.bold_delorean_caption {
    position: absolute;
    padding-top: 0%;
    margin-top: 0%;
    width: 30%;
    font-family: monospace;
    color: #285a85;
}

.upgrade_grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-evenly;
}

.item1-1 {
    background-color: #4c96d7;
    grid-column: 1;
    grid-row: 1;
}

.item1-2 {
    background-color: #4c96d7;
    grid-column: 2;
    grid-row: 1;
}

.item2-1 {
    grid-column: 1;
    grid-row: 2;
}

.item2-2 {
    grid-column: 2;
    grid-row: 2;
}

.item3-1 {
    background-color: #4c96d7;
    grid-column: 1;
    grid-row: 3;
}

.item3-2 {
    background-color: #4c96d7;
    grid-column: 2;
    grid-row: 3;
}

.item4-1 {
    grid-column: 1;
    grid-row: 4;
}

.item4-2 {
    grid-column: 2;
    grid-row: 4;
}

@media only screen and (min-width: 768px) {
    #buy {
        display: inline;
        position: absolute;
        align-content: center;
        margin-top: 5%;
        left: 0%;
        width: 10%;
        border: 3px solid #3a3a3a;
        padding: 10px;
        background-color: #4c96d7;
        color: #161616;
        margin-left: 2.5%;
        font-size: large;
    }

    #invDescription {
        width: 100%;
    }
    
    #welcome {
        right: 50%;
        top: 5%;
    }

    .delorean_caption {
        position: absolute;
        padding-top: 0%;
        width: 10%;
        font-family: monospace;
        color: #285a85;
        margin-left: 2.5%;
    }
    
    .bold_delorean_caption {
        position: absolute;
        padding-top: 0%;
        margin-top: 0%;
        width: 30%;
        font-family: monospace;
        color: #285a85;
        margin-left: 2.5%;
    }

    .large_screen {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
    }

    .large1 {
        grid-column: 1;
        grid-row: 1;
    }

    .large2 {
        grid-column: 2;
        grid-row: 1;
    }
    
    .upgrade_grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: space-evenly;
        width: 50%;
    }
    
    .item1-1 {
        background-color: #4c96d7;
        grid-column: 1;
        grid-row: 1;
    }
    
    .item1-2 {
        background-color: #4c96d7;
        grid-column: 2;
        grid-row: 1;
    }
    
    .item2-1 {
        grid-column: 1;
        grid-row: 2;
    }
    
    .item2-2 {
        grid-column: 2;
        grid-row: 2;
    }
    
    .item3-1 {
        background-color: #4c96d7;
        grid-column: 1;
        grid-row: 3;
    }
    
    .item3-2 {
        background-color: #4c96d7;
        grid-column: 2;
        grid-row: 3;
    }
    
    .item4-1 {
        grid-column: 1;
        grid-row: 4;
    }
    
    .item4-2 {
        grid-column: 2;
        grid-row: 4;
    }
}